<div id="main_content">
    <div class="right_content">
        <table class="list_table">
            <thead>
            <tr>
                <td>Recent games</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="loading_games">
                <td><img src="static/assets/img/ajax-loader.gif"></td>
            </tr>
            <tr ng-repeat="game in games | orderBy: 'date_epoch' : true">
                <td><a href="/games/{{game.id}}" title="View game">{{game.date | date : 'dd.MM.yyyy'}} | {{game.title}} {{game.team_format}}</a></td>
            </tr>
            </tbody>
        </table>
        <p ng-show="games.length > 0" style="float: right;"><a href="/games">Show all</a></p>
    </div>
    <div class="left_content">
        <table class="info_table">
            <thead>
                <tr>
                    <td>Player</td>
                    <td>Played</td>
                    <td>Win%</td>
                    <td>Rating</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="loading_players">
                    <td><img src="static/assets/img/ajax-loader.gif"></td>
                </tr>
                <tr ng-repeat="player in players | orderBy:['-rating','nick'] | orderEmpty: 'played': 'toBottom'">
                    <td><a href="/players/{{player.nick}}" title="View profile">{{player.nick}}</a></td>
                    <td>{{player.played}}</td>
                    <td ng-show="player.win_chance">{{player.win_chance}}%</td>
                    <td ng-show="!player.win_chance">0%</td>
                    <td ng-show="player.played > 0">{{player.rating}} <img ng-show="player.rating_trend == 'p'" src="static/assets/img/arrow_green_up.png"><img ng-show="player.rating_trend == 'n'" src="static/assets/img/arrow_red_down.png"></td>
                    <td ng-show="player.played == 0">Unrated</td>
                </tr>
            </tbody>
        </table>
        <span class="error">{{error}}</span>
    </div>
</div>

<style>
    #nav_bar li a#league {
        background-color: rgba(140, 140, 140, 0.35);
        -webkit-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
        -moz-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
        box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
    }
</style>
