<div id="main_content">
    <form name="registerGameForm" ng-submit="submitGame()">
        <div class="right_content">
            <table class="gamesettings">
                <thead>
                <tr>
                    <b>Game Settings</b>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Game</td>
                    <td><select ng-model="game.gameType"
                                ng-options="gametype for gametype in game_types | orderBy:false"></select>
                    </td>
                </tr>
                <tr>
                    <td>Map style</td>
                    <td><select ng-model="game.mapStyle"
                                ng-options="mapstyle for mapstyle in map_types | orderBy:false"></select>
                    </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td><select ng-model="game.location"
                                ng-options="location for location in locations | orderBy:false"></select>
                    </td>
                </tr>
                <tr>
                    <td>Size</td>
                    <td><select ng-model="game.size"
                                ng-options="size for size in map_sizes | orderBy:false"></select>
                    </td>
                </tr>
                <tr>
                    <td>Resources</td>
                    <td><select ng-model="game.resources"
                                ng-options="resources for resources in resources_list | orderBy:false"></select>
                    </td>
                </tr>
                <tr>
                    <td>Game Speed</td>
                    <td><select ng-model="game.gameSpeed"
                                ng-options="gamespeed for gamespeed in gameSpeeds | orderBy:false"></select>
                    </td>
                </tr>
                <tr>
                    <td>Victory</td>
                    <td><select ng-model="game.victory"
                                ng-options="victory for victory in victoryList | orderBy:false"></select>
                    </td>
                </tr>
                <tr>
                    <td>Starting age</td>
                    <td><select ng-model="game.starting_age"
                                ng-options="starting_age for starting_age in starting_ages | orderBy:false"></select>
                    </td>
                </tr>
                <tr>
                    <td>Population</td>
                    <td><select ng-model="game.population"
                                ng-options="population for population in populations | orderBy:false"></select>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="left_content">

            <table id="playerinputtable">
                <thead>
                <tr>
                    <td>Player</td>
                    <td>Civilization</td>
                    <td>Team</td>
                    <td>Score</td>
                    <td>Won</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="playerResult in game.playerResults">
                    <td><select ng-model="playerResult.player_id"
                                ng-options="player.id as player.nick for player in allPlayers | orderBy:'nick'"></select></td>
                    <td><select ng-model="playerResult.civilization"
                                ng-options="civ for civ in civilizations"></select>
                    </td>
                    <td><select ng-model="playerResult.team" ng-options="team for team in teams"></select></td>
                    <td><input type="number" name="score" ng-model="playerResult.score" placeholder="Score..." min="0"
                               valid-number/></td>
                    <td class="small"><input class="checkbox" type="checkbox" name="is_winner"
                                             ng-model="playerResult.is_winner"/></td>
                </tr>
                </tbody>
            </table>

            <br/>
            <table class="buttoncontainer">
                <tr>
                    <td>
                        <input class="button submit" type="submit" value="Save"/>
                    </td>
                    <td>
                        <input class="button clear" type="reset" value="Clear"/>
                    </td>
                    <td class="message">
                        <span class="success">{{success}}</span>
                        <span class="error">{{error}}</span>
                    </td>
                </tr>
            </table>
            <br/>

        </div>
    </form>
</div>


<style>
    #nav_bar li a#registergame {
        background-color: white;
        color: #666;
        -webkit-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
    }
</style>