<div id="main_content">
    <div class="right_content">
        <table class="list_table">
            <thead>
                <tr>
                    <td>Players</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="loading_players">
                    <td><img src="static/assets/img/ajax-loader.gif"></td>
                </tr>
                <tr ng-repeat="player in players | orderBy:['nick']">
                    <td><a href="/players/{{player.nick}}" title="View profile">{{player.nick}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="left_content">
        <form name="playerForm" ng-submit="submitPlayer()">
            <table>
                <tbody>
                <tr>
                    <td><input type="text" required="true" minlength="1" ng-model="newplayer.nick" placeholder="Nickname" auto-focus/></td>
                </tr>
                </tbody>
            </table>
            <br/>
            <table class="buttoncontainer">
                <tr>
                    <td>
                        <input class="button submit" type="submit" value="Save"/>
                    </td>
                    <td>
                        <input class="button clear" type="reset" value="Clear" ng-click="hideError()"/>
                    </td>
                    <td class="message">
                        <span class="success">{{success}}</span>
                        <span class="error">{{error}}</span>
                    </td>
                </tr>
            </table>
        </form>

        <br/>
        <br/>
        <br/>

    </div>
</div>

<style>
    #nav_bar li a#registerplayer {
        background-color: rgba(140, 140, 140, 0.35);
        -webkit-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
    }
</style>