<div id="main_content">
    <h1>Generate game setups</h1>
    <div class="right_content">
        <div ng-show="settingUpGame">
            <img src="static/assets/img/ajax-loader.gif">
        </div>
        <div id="gamesWrapper" ng-show="!settingUpGame" ng-animate-children>
            <div ng-show="games.length > 0" class="box margin_top" ng-repeat="game in games">
                <h4>Game {{$index + 1}} <span style="float: right; font-weight: normal;">Rating dif: {{game.rating_dif}}</span></h4>
                <table ng-repeat="team in game.teams">
                    <tr>
                        <td style="width: 100px;">
                            Team {{$index + 1}}
                            <br/>
                            Rating: {{team.rating}}
                        </td>
                        <td>
                            <table>
                                <tr ng-repeat="player in team.players | orderBy:['-rating','nick']" class="setup_game_player_anim">
                                    <td>
                                        {{player.nick}}
                                    </td>
                                    <td>
                                        {{player.rating}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="box margin_top" ng-show="total_rating_dif != null && games.length > 0">
                Total rating difference across all games: {{total_rating_dif}}
                <br />
                Trebuchet: {{trebuchet_allowed | yesNo}}
            </div>
        </div>
    </div>
    <div class="left_content">
        <form name="gameSetupForm" ng-submit="setupGame()">
            <h4>Teams</h4>
            <select ng-model="SetupGame.algorithm" class="wide" ng-options="alg as alg for alg in algorithms"></select>
            <br />
            <br />
            <table class="info_table">
                <tbody>
                    <tr ng-show="loading_players">
                        <td>
                            <img src="static/assets/img/ajax-loader.gif">
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Players <a href="" style="font-weight: normal;" ng-click="ToggleSelectAllPlayers()">(All)</a></h4></td>
                        <td><h4>Trebuchet vote</h4></td>
                    </tr>
                    <tr ng-repeat="player in players | orderBy:['-rating','nick']">
                        <td>
                            <label>
                                <input class="checkbox" type="checkbox" name="joining"
                                       ng-model="player.joining" />
                                {{player.nick}}
                            </label>
                        </td>
                        <td>
                            <input ng-disabled="!player.joining" class="checkbox" type="checkbox" name="trebuchet_vote"
                                   ng-model="player.trebuchet_vote" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <br />
            <table class="buttoncontainer">
                <tr>
                    <td>
                        <input class="button submit" type="submit" value="Setup games" ng-disabled="settingUpGame" />
                    </td>
                    <td class="message">
                        <span class="success">{{success}}</span>
                        <span class="error">{{error}}</span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<style>
    #nav_bar li a#setupgames {
        background-color: rgba(140, 140, 140, 0.35);
        -webkit-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
    }
</style>
