<div id="main_content">
    <div class="right_content">
        <table>
            <thead>
            <tr>
                <td>Recent games</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="game in games | orderBy: 'date' : true">
                <td><a href="/games/{{game.id}}" title="View game">{{game.date | date : 'dd.MM.yyyy'}} | {{game.title}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="left_content">
        <table class="info_table">
            <thead>
                <tr>
                    <td>Player</td>
                    <td>Rating</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players | orderBy:['-rating','nick']">
                    <td><a href="/players/{{player.nick}}" title="View profile">{{player.nick}}</a></td>
                    <td>{{player.rating}}</td>
                </tr>
            </tbody>
        </table>
        <span class="error">{{error}}</span>
    </div>
</div>

<style>
    #nav_bar li a#home {
        /*background-color: rgba(62, 43, 47, 0.62); */
        /*color: #666;*/
        background-color: rgba(140, 140, 140, 0.35);
        -webkit-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
        -moz-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
        box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
    }
</style>
