<div id="main_content">
    <h1>Select all present players</h1>
    <div class="right_content">
        <table ng-repeat="game in games">
            <thead>
                <tr>
                    <td>Games</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in game.teams">
                    <td>{{team}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="left_content">
        <form name="gameSetupForm" ng-submit="setupGame()">
            <table class="info_table">
                <thead>
                    <tr>
                        <td>Player</td>
                        <td>Joining</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="loading_players">
                        <td><img src="static/assets/img/ajax-loader.gif"></td>
                    </tr>
                    <tr ng-repeat="player in players | orderBy:['-rating','nick']">
                        <td><a href="/players/{{player.nick}}" title="View profile">{{player.nick}}</a></td>
                        <td class="small">
                            <input class="checkbox" type="checkbox" name="joining"
                                   ng-model="player.joining" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <table class="buttoncontainer">
                <tr>
                    <td>
                        <input class="button submit" type="submit" value="Setup game" />
                    </td>
                    <td class="message">
                        <span class="success">{{success}}</span>
                        <span class="error">{{error}}</span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<style>
    #nav_bar li a#gamesetup {
        background-color: rgba(140, 140, 140, 0.35);
        -webkit-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
    }
</style>