.setup_game_player_anim.ng-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity:0;
}
.setup_game_player_anim.ng-enter-stagger {
  -webkit-transition-delay: 5s;
  transition-delay: 5s;

  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.setup_game_player_anim.ng-enter.ng-enter-active {
  opacity:1;
}

.animated_list_item.ng-enter,
.players.ng-leave {
    transition: opacity .1s;
}

.animated_list_item.ng-enter,
.animated_list_item.ng-leave-active{
    opacity: 0;
}

.animated_list_item.ng-enter-active {
    opacity: 1;
}

.ng-enter-stagger,
.ng-leave-stagger {
    transition-delay: .02s;
    transition-duration: 0;
}