
body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#main_wrapper {
    position: relative;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
    height: 100%;
    padding-bottom: -150px;
    padding-top: -150px;
    background-color: #336699;
    -webkit-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
    box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
}

.Push {
    clear: both;
}

#Header {
    position: relative;
    height: 100px;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

#Header h1 {
    padding: 30px 20px 20px 45px;
    color: white;
}

#main_view {
    width: 1075px;
    min-height: 400px;
    float: left;
    padding: 20px 45px 20px 45px;
    font-size: 20px;
    background-color: white;
    color: #666;
}

#nav_bar {
    float: left;
    width: 235px;
    padding-top: 30px;
}

#nav_bar li {
    list-style: none;
    font-size: 20px;
    color: #666;
    line-height: 30px;
    text-decoration: none;
}

#nav_bar li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px 5px 10px 10px;
    width: 100%;
    /*-webkit-transition: background 0.08s linear;
    -moz-transition: background 0.08s linear;
    -ms-transition: background 0.08s linear;
    -o-transition: background 0.08s linear;
    transition: background 0.08s linear;*/
}

#nav_bar li a:hover {
    text-decoration: none;
    /*color: #666;*/
    display: inline-block;
    /*background-color: white;*/
    /*-webkit-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
    -moz-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
    box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);*/
}

#main_view .left_content table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

#main_view .left_content table thead {
    font-weight: bold;
}

#main_view .left_content table tbody tr:nth-child(odd) {
}

#main_view .left_content table tbody tr:nth-child(even) {
}

#main_view .left_content table tbody {
    border: 0px;
    margin: 0px;
}

#main_view table tbody tr {
    line-height: 36px;
}

#main_view table tbody td {
    overflow: hidden;
    width: 100px;
}

#main_view table tbody td.small {
    overflow: hidden;
    width: 20px;
}

#main_view table.gamesettings tbody td {
    overflow: hidden;
    width: 130px;
}

#main_view table.gamesettings select {
    overflow: hidden;
    width: 160px;
}

#main_view table.buttoncontainer tbody td {
    overflow: hidden;
    width: 80px;
}

#main_view table.buttoncontainer tbody td.message{
    overflow: hidden;
    width: 600px;
    padding-left: 10px;
}

#main_view .right_content {
    float: right;
    padding: 0px;
    margin: 0px;
}

aside.right_content ul {
    margin: 0px;
    padding: 0px;
}

#main_view .right_content li {
    list-style: none;
    font-size: 20px;
    color: #666;
    line-height: 30px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #666;
}

td.wide {
    overflow: hidden;
    width: 210px;
}

td.medium {
    overflow: hidden;
    width: 140px;
}

input, textarea {
    padding: 10px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 15px/100% Verdana, Tahoma, sans-serif;
    width: 170px;
    background: #FFFFFF;
    line-height: 120%;
    margin-top: 10px;
    margin-left: 3px;
}

input.checkbox{
    width: 20px;
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    padding: 10px;
    margin-left: 15px;
}

textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
}

select {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 15px/100% Verdana, Tahoma, sans-serif;
    width: 120px;
    background: #FFFFFF;
    line-height: 120%;
    margin-top: 10px;
    margin-left: 3px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
}

.form label {
    margin-left: 10px;
    color: #999999;
}

.button.submit {
    width: auto;
    padding: 9px 15px;
    margin-left: 2px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #43ac6a;
    border-color: #3c9a5f;
}

.button.submit:hover {
    background-color: #358753;
    border-color: #2b6e44;
}

.button.clear {
    width: auto;
    padding: 9px 15px;
    margin-left: 2px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #f04124;
    border-color: #ea2f10;
}

.button.clear:hover {
    background-color: #d32a0e;
    border-color: #b1240c;
}


.error{
    color: red;
}

.success{
    color: limegreen;
}


/* Remove spinner from number fields */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}