
body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#main_wrapper {
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
    height: 100%;
    padding-bottom: -150px;
    padding-top: -150px;
    background-color: #336699;
    -webkit-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
    -moz-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
    box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
}

.Push {
    clear: both;
}

#Header {
    position: relative;
    height: 100px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

    #Header h1 {
        padding: 30px 20px 20px 45px;
        color: white;
    }

#main_view {
    width: 875px;
    min-height: 400px;
    float: left;
    padding: 20px 45px 20px 45px;
    font-size: 20px;
    background-color: white;
    color: #666;
}

#nav_bar {
    float: left;
    width: 235px;
    padding-top: 30px;
}

    #nav_bar li {
        list-style: none;
        font-size: 20px;
        color: #666;
        line-height: 30px;
        text-decoration: none;
    }

        #nav_bar li a {
            display: inline-block;
            text-decoration: none;
            color: white;
            padding: 5px 5px 10px 10px;
            width: 100%;
            /*-webkit-transition: background 0.08s linear;
            -moz-transition: background 0.08s linear;
            -ms-transition: background 0.08s linear;
            -o-transition: background 0.08s linear;
            transition: background 0.08s linear;*/
        }

            #nav_bar li a:hover {
                text-decoration: none;
                /*color: #666;*/
                display: inline-block;
                /*background-color: white;*/
                /*-webkit-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
                -moz-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
                box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);*/
            }


#main_view .left_content table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

    #main_view .left_content table thead {
        font-weight: bold;
    }

    #main_view .left_content table tbody tr:nth-child(odd) {
    }

    #main_view .left_content table tbody tr:nth-child(even) {
    }

    #main_view .left_content table tbody {
        border: 0px;
        margin: 0px;
    }

#main_view table tbody tr {
    line-height: 30px;
}

#main_view table tbody td {
    overflow: hidden;
    width: 100px;
}


#main_view .right_content {
    float: right;
    padding: 0px;
    margin: 0px;
}

aside.right_content ul {
    margin: 0px;
    padding: 0px;
}

#main_view .right_content li {
    list-style: none;
    font-size: 20px;
    color: #666;
    line-height: 30px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #666;
}
