
body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: url('/static/assets/img/aoe_main_bg.jpg') no-repeat;
    background-color: black;
    background-size: cover;
    font-family: Century Gothic, sans-serif;
}

h4 {
    margin: 0px;
    margin-bottom: 5px;
}

#main_wrapper {
    position: relative;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
    height: 100%;
    padding-bottom: -150px;
    padding-top: -150px;
    /*background-color: #336699;*/
    background-color: rgba(0,0,0,.85);
    -webkit-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
    box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
    margin-top: 30px;
}

.Push {
    clear: both;
}

#header {
    position: relative;
    height: 150px;
    width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

#footer {
    padding-top: 5px;
    padding-bottom: 15px;
    color: gray;
    font-size: 70%;
    text-align: center;
}

#footer a{
    color: gray;
    text-decoration: underline;
}

#footer a:hover{
    color: teal;
}

#aoe_logo {
    padding-top: 30px;
    padding-left: 50px;
}

#header h1 {
    padding: 40px 20px 20px 55px;
    color: #df633b;
}

#main_view {
    width: 1173px;
    min-height: 400px;
    float: left;
    padding: 20px 45px 20px 45px;
    font-size: 16px;
    background-color: rgba(0,0,0,.60);
    color: #ffdcb6;
    border-left: 1px solid rgba(140, 140, 140, 0.35);
    border-top: 1px solid rgba(140, 140, 140, 0.35);
    border-bottom: 1px solid rgba(140, 140, 140, 0.35);
}

    #main_view h1 {
        color: #a88865;
    }

#nav_bar {
    float: left;
    width: 235px;
    padding-top: 30px;
}

    #nav_bar li {
        list-style: none;
        font-size: 16px;
        line-height: 30px;
        text-decoration: none;
    }

        #nav_bar li a {
            display: inline-block;
            text-decoration: none;
            padding: 5px 5px 10px 10px;
            width: 92.5%;
            /*-webkit-transition: background 0.08s linear;
    -moz-transition: background 0.08s linear;
    -ms-transition: background 0.08s linear;
    -o-transition: background 0.08s linear;
    transition: background 0.08s linear;*/
        }

            #nav_bar li a:hover {
                text-decoration: none;
                /*color: #666;*/
                display: inline-block;
                color: #ffdcb6;
                /*background-color: white;*/
                /*-webkit-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
    -moz-box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);
    box-shadow: 6px 4px 38px -8px rgba(0,0,0,0.47);*/
            }

#main_view .left_content table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

#main_view table thead {
    font-weight: bold;
}

#main_view .left_content table tbody tr:nth-child(odd) {
}

#main_view .left_content table tbody tr:nth-child(even) {
}

#main_view table tbody {
    border: 0px;
    margin: 0px;
}

    #main_view table tbody tr {
        line-height: 36px;
    }

    #main_view table tbody td {
        overflow: hidden;
        width: auto;
    }

        #main_view table tbody td.small {
            overflow: hidden;
            width: auto;
        }

#main_view table.gamesettings tbody td {
    overflow: hidden;
    width: auto;
}

#main_view table.gamesettings select {
    overflow: hidden;
    width: 192px;
}

#main_view table.gamesettings input {
    overflow: hidden;
}

#main_view table.buttoncontainer tbody td {
    overflow: hidden;
    width: 80px;
}

    #main_view table.buttoncontainer tbody td.message {
        overflow: hidden;
        width: 600px;
        padding-left: 10px;
    }

#main_view .right_content {
    float: right;
    padding: 0px;
    margin: 0px;
    width: 550px;
}

#main_view .right_content_no_border {
    float: right;
    padding: 0px;
    margin: 0px;
    width: 400px;
}

#main_view .bottom_content {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
}

aside.right_content ul {
    margin: 0px;
    padding: 0px;
}

#main_view .right_content li {
    list-style: none;
    font-size: 20px;
    color: #ECE9E9;
    line-height: 30px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #ECE9E9;
}

    a:hover {
        color: teal;
    }

td.wide {
    overflow: hidden;
    width: 210px;
}

td.medium {
    overflow: hidden;
    width: 140px;
}

input, textarea {
    padding: 10px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 15px/100% Verdana, Tahoma, sans-serif;
    width: 170px;
    background: #FFFFFF;
    line-height: 120%;
    margin-top: 10px;
    margin-left: 3px;
}

    input.checkbox {
        width: 20px;
        -ms-transform: scale(1.3); /* IE */
        -moz-transform: scale(1.3); /* FF */
        -webkit-transform: scale(1.3); /* Safari and Chrome */
        -o-transform: scale(1.3); /* Opera */
        padding: 10px;
        margin-left: 15px;
    }

textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
}

select {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 15px/100% Verdana, Tahoma, sans-serif;
    width: 120px;
    background: #FFFFFF;
    line-height: 120%;
    margin-top: 10px;
    margin-left: 3px;
}

    select.wide {
        width: 170px;
    }

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
}

.form label {
    margin-left: 10px;
    color: #999999;
}

.button.submit {
    width: auto;
    padding: 9px 15px;
    margin-left: 2px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #4d5d38;
    border-color: #42522e;
}

    .button.submit:disabled {
        color: #999999;
        background-color: #495935;
    }

    .button.submit:hover {
        background-color: #495935;
        border-color: #354522;
    }

        .button.submit:hover:disabled {
            color: #999999;
            background-color: #495935;
            border-color: #42522e;
        }

.button.clear {
    width: auto;
    padding: 9px 15px;
    margin-left: 2px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #ae2900;
    border-color: #9f2900;
}

    .button.clear:hover {
        background-color: #a0290e;
        border-color: #b1240c;
    }


.error {
    color: red;
}

.success {
    color: teal;
}


/* Remove spinner from number fields */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#loadingMessage {
    height: 25px; /* equals max image height */
    width: 160px;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

    #loadingMessage.helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    #loadingMessage img {
        vertical-align: middle;
        max-height: 25px;
        max-width: 160px;
        padding-left: 10px;
    }

#main_view .info_table td {
    width: 220px;
}

#main_view .info_table td.nowrap_with_padding{
    white-space: nowrap;
    padding-right: 25px;
}

#main_view .info_table td.mini {
    width: 30px;
}

#main_view .info_table thead td {
    width: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.list_table {
    width: 100%;
    border: 1px solid #222;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

    .list_table thead {
        /*background:  #fcfcfd;   */ /* orange #f0ad4e;*/
        background-color: rgba(140, 140, 140, 0.35);
        width: 100%;
        border-bottom: 1px solid #222;
        margin: 0px;
        padding: 0px;
    }

    .list_table tbody {
        /*background: #fcfcfd;*/
        background-color: rgba(140, 140, 140, 0.35);
    }


    .list_table thead tr {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .list_table td {
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.winner_team {
    /* background-color: rgba(140, 140, 140, 0.35);*/
    background-color: rgba(0,0,0,.40);
}

input {
    background-color: rgba(140, 140, 140, 0.15);
    color: #ffdcb6;
}

select {
    background-color: rgba(140, 140, 140, 0.15);
    color: #ffdcb6;
}

    select option {
        background-color: black;
        color: #ffdcb6;
    }

.green {
    color: green;
}

.red {
    color: red;
}

.box.margin_top {
    margin-top: 50px;
}

.icon {
    margin-left: 2px;
    margin-right: 2px;
}

.search_field {
    margin-bottom: 20px;
    margin-right: 10px;
    width: 600px;
}

.search_result {
    font-size: 14px;
}

#main_view .right_content table td.wide {
    width: 95px;
}

#main_view .right_content table td.widest {
    width: 115px;
}

#login_section {
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    color: #df633b;
    text-align: right;
}

.info {
    color: #ffdcb6;
}

.rating_trend_icon_up_vertical_fix {
    padding-bottom: 3px;
}

.rating_trend_icon_down_vertical_fix {
    padding-bottom: 2px;
}


.admin_function {
    margin-bottom: 20px;
}

.admin_row {
    display: table;
    height: 50px;
}

.admin_response {
    padding-left: 8px;
    height: 50px;
}

.admin_cell {
    display: table-cell;
    padding: 5px;
}

    .admin_cell.button {
        width: 200px;
    }

    .admin_cell.description {
        
    }

.button.admin_action {
    width: 100%;
    padding: 9px 15px;
    margin-left: 2px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #8B1A1A;
    border-color: #8B1A1A;
}

    .button.admin_action:disabled {
        color: #999999;
        background-color: #495935;
    }

    .button.admin_action:hover {
        background-color: #9f2900;
        border-color: #9f2900;
    }

        .button.admin_action:hover:disabled {
            color: #999999;
            background-color: #495935;
            border-color: #42522e;
        }


 .text_highlighted{
     color: #df633b;
 }

 #rating_graph{

    display: inline-block;
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
 }