<div id="main_content">
    <h1 ng-show="!loading_player">
        <span>{{player.nick}}</span>
        <span ng-show="user.logged_in && !user.player && player.is_claimed == false"> (<a href="/api/claimplayer/{{player.id}}" title="View game" target="_self">claim player</a>)</span>
    </h1>
    <img ng-show="loading_player" src="static/assets/img/ajax-loader.gif">
    <div class="right_content">
        <div class="box">
            <table class="list_table">
                <thead>
                    <tr>
                        <td>Games</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="game in games">
                        <td><a href="/games/{{game.id}}" title="View game">{{game.date | date : 'dd.MM.yyyy'}} | {{game.title}} {{game.team_format}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="left_content">
        <table ng-show="!loading_player" class="info_table">
            <tbody>
            <tr>
                <td>Rating</td>
                <td ng-show="player.played > 0">{{player.rating}}</td>
                <td ng-show="player.played == 0">Unrated</td>
            </tr>
            <tr>
                <td>Won/Total</td>
                <td>{{player.wins}}/{{player.played}} ({{player.win_chance}}%)</td>
            </tr>
            <tr>
                <td>Average score</td>
                <td>{{player.stats.average_score}}</td>
            </tr>
            <tr>
                <td>Best score</td>
                <td>{{player.stats.best_score.value}} in <a href="/games/{{player.stats.best_score.game_id}}" title="View game">this game</a></td>
            </tr>
            <tr>
                <td>Worst score</td>
                <td>{{player.stats.worst_score.value}} in <a href="/games/{{player.stats.worst_score.game_id}}" title="View game">this game</a></td>
            </tr>
            <tr>
                <td>Average score per min</td>
                <td>{{player.stats.average_score_per_min}}</td>
            </tr>
            <tr>
                <td>Best score per min</td>
                <td>{{player.stats.best_score_per_min.value}} in <a href="/games/{{player.stats.best_score_per_min.game_id}}" title="View game">this game</a></td>
            </tr>
            <tr>
                <td>Worst score per min</td>
                <td>{{player.stats.worst_score_per_min.value}} in <a href="/games/{{player.stats.worst_score_per_min.game_id}}" title="View game">this game</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="bottom_content">
        <div class="box margin_top">
            <h4>Playing with teammate</h4>
            <table class="list_table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Games</td>
                        <td>Wins</td>
                        <td>Win%</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="teammate in player.stats.teammate_fit">
                        <td><a href="/players/{{teammate.teammate.nick}}" title="View player {{teammate.teammate.nick}}">{{teammate.teammate.nick}}</a></td>
                        <td>{{teammate.played}}</td>
                        <td>{{teammate.wins}}</td>
                        <td>{{teammate.win_chance}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box margin_top">
            <h4>Playing as civilization</h4>
            <table class="list_table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Games</td>
                        <td>Wins</td>
                        <td>Win%</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="civilization in player.stats.civ_fit">
                        <td><a href="">{{civilization.civ}}</a></td>
                        <td>{{civilization.played}}</td>
                        <td>{{civilization.wins}}</td>
                        <td>{{civilization.win_chance}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <span class="error">{{error}}</span>
</div>

<style>
    #nav_bar li a#player {
        background-color: rgba(140, 140, 140, 0.35);
        -webkit-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
    }
</style>