<div id="main_content">
    <div class="left_content">
        <form name="ruleForm" ng-submit="submitRule()">
            <table>
                <tbody>
                <tr>
                    <td><input type="text" required="true" minlength="1" ng-model="newrule.name" placeholder="New rule name" auto-focus style="width: 300px;"/></td>
                </tr>
                <tr>
                    <td><textarea rows="4" required="true" minlength="1" ng-model="newrule.description" placeholder="New rule description" style="width: 600px;"></textarea></td>
                </tr>
                </tbody>
            </table>
            <table class="buttoncontainer">
                <tr>
                    <td>
                        <input class="button submit" type="submit" value="Save"/>
                    </td>
                    <td>
                        <input class="button clear" type="reset" value="Clear" ng-click="hideError()"/>
                    </td>
                    <td class="message">
                        <span class="success">{{success}}</span>
                        <span class="error">{{error}}</span>
                    </td>
                </tr>
            </table>
        </form>
        <br />
        <br />
        <table class="list_table">
            <thead>
                <tr>
                    <td width="20%">Name</td>
                    <td width="50%">Description</td>
                    <td width="20%">Creator</td>
                    <td width="10%" ng-show="user.is_admin"></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="loading_rules">
                    <td><img src="static/assets/img/ajax-loader.gif"></td>
                    <td><img src="static/assets/img/ajax-loader.gif"></td>
                </tr>
                <tr ng-repeat="rule in rules | orderBy:['name']">
                    <td>{{rule.name}}</td>
                    <td>{{rule.description}}</td>
                    <td>{{rule.creator.nick}}</td>
                    <td ng-show="user.is_admin">
                        <div class="admin_cell button">
                            <button class="button admin_action admin_action_no_pad" confirmed-click="deleteRule({{rule.id}})"
                                ng-confirm-click="Are you sure you want to delete this rule?">
                            Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<style>
    #nav_bar li a#registerrule {
        background-color: rgba(140, 140, 140, 0.35);
        -webkit-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
        box-shadow: 6px 4px 38px -8px rgba(0, 0, 0, 0.47);
    }
</style>