<div id="main_content">
    <h1>Admin panel</h1>

    <div class="right_content">

    </div>
    <div class="left_content">

        <div class="admin_function">
            <section class="admin_row">
                <div class="admin_cell button">
                    <button class="button admin_action" confirmed-click="Recalc()" ng-confirm-click="Are you sure you want to recalculate ratings?">
                        Recalculate ratings
                    </button>
                </div>
                <div class="admin_cell description">Recalculate rating for all players.</div>
            </section>
            <section class="admin_response">
                <img ng-show="recalc_processing" src="static/assets/img/ajax-loader.gif">
                <span ng-show="recalc_response" class="success">{{recalc_response}}</span>
                <span ng-show="recalc_error" class="error">{{recalc_error}}</span>
            </section>
        </div>

        <div class="admin_function">
            <section class="admin_row">
                <div class="admin_cell button">
                    <button class="button admin_action" confirmed-click="FixDB()" ng-confirm-click="Are you sure you want clean the database?">
                        Fix database
                    </button>
                </div>
                <div class="admin_cell description">Fix the database, this can be any python job written to delete, update, change, add or whatever.</div>
            </section>
            <section class="admin_response">
                <img ng-show="fixdb_processing" src="static/assets/img/ajax-loader.gif">
                <span ng-show="fixdb_response" class="success">{{fixdb_response}}</span>
                <span ng-show="fixdb_error" class="error">{{fixdb_error}}</span>
            </section>
        </div>

        <div class="admin_function">
            <section class="admin_row">
                <div class="admin_cell button">
                    <button class="button admin_action" confirmed-click="ClearStats()" ng-confirm-click="Are you sure you want clear all stats?">
                        Clear stats
                    </button>
                </div>
                <div class="admin_cell description">
                    Clear all player and civ statistics, meaning they will be recalculated the next time each player is loaded.
                </div>
            </section>
            <section class="admin_response">
                <img ng-show="clearstats_processing" src="static/assets/img/ajax-loader.gif">
                <span ng-show="clearstats_response" class="success">{{clearstats_response}}</span>
                <span ng-show="clearstats_error" class="error">{{clearstats_error}}</span>
            </section>
        </div>

        <div class="admin_function">
            <section class="admin_row">
                <div class="admin_cell button">
                    <button class="button admin_action" confirmed-click="AdjustRating()" ng-confirm-click="Are you sure you want to adjust rating?">
                        Adjust rating
                    </button>
                </div>
                <select ng-model="adjust_rating_values.player_id" ng-change="setPlayerRatingAdjustment()">
                    <option ng-repeat="player in players | orderBy:['nick']" value="{{player.id}}">{{player.nick}}</option>
                </select>
                <input type="number" ng-model="adjust_rating_values.new_rating_adjustment">

                <div class="admin_cell description" title="Keep in mind a new value is set, this is not a value that is added to the existing adjustment. Meaning if the player had -100, and -75 is input here. The new value is -75.">
                    Set an adjusted player rating value, and redistribute it to other players.
                </div>
            </section>
            <section class="admin_response">
                <img ng-show="adjustrating_processing" src="static/assets/img/ajax-loader.gif">
                <span ng-show="adjustrating_response" class="success">{{adjustrating_response}}</span>
                <span ng-show="adjustrating_error" class="error">{{adjustrating_error}}</span>
            </section>
        </div>

        <div class="admin_function">
            <section class="admin_row">
                <div class="admin_cell button">
                    <button class="button admin_action" confirmed-click="ResetRatingAdjustment()"
                            ng-confirm-click="Are you sure you want to reset rating adjustment?">
                        Reset rating adjustment
                    </button>
                </div>
                <div class="admin_cell description" title="">Set all players rating adjustment to 0.</div>
            </section>
            <section class="admin_response">
                <img ng-show="resetratingadjustment_processing" src="static/assets/img/ajax-loader.gif">
                <span ng-show="resetratingadjustment_response" class="success">{{resetratingadjustment_response}}</span>
                <span ng-show="resetratingadjustment_error" class="error">{{resetratingadjustment_error}}</span>
            </section>
        </div>

        <div class="box margin_top">
            <h4>
                <span>Player admin actions</span>
                <img ng-show="loading_players || updating_player_processing" src="static/assets/img/ajax-loader.gif">
            </h4>
            <table class="list_table">
                <tr ng-repeat="player in players">
                    <td>{{player.nick}}</td>
                    <td>
                        <button ng-show="player.active" ng-disabled="updating_player_processing" class="button admin_action no_pad" ng-click="setPlayerActiveState(player, false)">Set inactive</button>
                        <button ng-show="!player.active" ng-disabled="updating_player_processing" class="button admin_action no_pad" ng-click="setPlayerActiveState(player, true)">Set active</button>
                    </td>
                    <td>
                        <button ng-show="!player.verified && player.claimed" ng-disabled="updating_player_processing" class="button admin_action no_pad" ng-click="verifyClaim(player)">Verify</button>
                    </td>
                    <td>
                        <button ng-show="!player.verified && player.claimed" ng-disabled="updating_player_processing" class="button admin_action no_pad" ng-click="rejectClaim(player)">Reject</button>
                    </td>
                </tr>
            </table>
            <span ng-show="updating_player_error" class="error">{{updating_player_error}}</span>
        </div>
    </div>
</div>